html, body {
  height: 100%;
  margin: 0;
}
body {
  margin: 0;
  /* font-family: 'Crimson Text', serif; */
  font-weight: 400;
  padding: 0;
  width: 100%;
  background-color: #f2f2f2;
}
h1 {
  font-size: 42px;
  line-height: 55px;
  margin-left: 80px;
}
#wrapper{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(7, fr);
  grid-gap: 0x;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}
#uusikohde {
  padding: 30px;
  margin-left: 30px;
  margin-top: 20px;
  grid-column: 3 / span 2; 
  grid-row: 1;
  color: black;
  font-family:'Nunito Sans', sans-serif;
  font-weight: 400;
}
#uusikohde > h2 {
  font-weight: 200;
  color: white;
}
#uusikohde > input {
padding: 10px;
border:  2px solid white (0, 0, 0, 0.2);
border-radius: 5px;
background-color: white;
} 
#uusikohde > button {
padding: 10px;
border: 2px solid black;
border-radius: 5px;
background-color:black;
color:white;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
margin-top: 20px;
}
a {
  color: #00B7FF;
}
#poista{
  background-color: #00B7FF;
  grid-row: 2;
}
#output {
  vertical-align: baseline;

}
#poistaNappi {
  float: right;
}
#arvioidut {
  grid-row: 2 / span 3;
  grid-column: 1 / spans 2;
  padding: 30px;
}
#arvioilomake {
  background-color: white;
  grid-row: 7 ;
  grid-column: 1 / span 3;
  padding: 50px;
  color: black;
  font-family:'Nunito Sans', sans-serif;
  font-weight: 400;
  margin: 0;
}
#arvioilomake h2{
  /* font-family: 'Crimson Text', serif; */
  font-family:'Nunito Sans', sans-serif;
  margin-left: 35px;
  font-size: 16px;
  /* text-decoration: underline; */
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 900;
  width: 50%;
}
#arvioilomake_labels {
float: left;
height: 100px;
line-height: 28px;
font-weight: bold;
}
#arvioilomake_inputs {
  margin-left: 100px;
  width: 200px;
}
#arvioi_wrapper{
  margin: 0;
  display: flex;
  padding: 40px; 
}
#wrapperkaksi {
  grid-row:7;
  grid-column: 4 /span 1;
  /* background-color: cadetblue; */
  background-image: url("../images/kiipeily2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#arvioilomake_input, input {
  padding: 5px;
  border: 2px solid white;
  background-color:#e6e6e6;
  border-radius: 5px;
   min-width: 300px;
  width: 200px; 
} 
#etsi {
  min-width: 10%;
  height: 30px;
  padding: 5px;
  color: white;
  border-style: none;
  background-color: white;
  font-weight: 200;
  letter-spacing: 1px;
  font-size: px;
  margin-left: 120px;
  border: 1.5px solid white;
  background-color:#808080;
  border-radius: 5px;
  font-size: 12px;
}
#arvioilomake_inputs > button {
  min-width: 100px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
  background-color:black;
  color:white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
  margin-top: 20px;
  width: 157px;
}
#toivelista{
  grid-row: 2 / span 3;
  grid-column: 3 /span 1;
  padding: 30px;
  border-left: black solid 1px;
}
#toivelista li {
  list-style: none;
  line-height: 32px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2;
  font-family:'Nunito Sans', sans-serif;
}
#toivelista h2 {
  font-family:'Nunito Sans', sans-serif;
  margin-left: 35px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 900;
  width: 50%;
}
#arvioidut h2 {
  font-family:'Nunito Sans', sans-serif;
  margin-left: 35px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 5px;
  font-size: 16px;
  text-transform: uppercase;
}
#arvioidut ul {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2;
  font-family:'Nunito Sans', sans-serif;
}

#kiipeilyLoki {
  background-image: url("../images/hunkOverhang.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  color: white;
  grid-row: 1;
  width: 100%;
  grid-column: 1 / span 4;
  }
 #kiipeilyloki_hederi{
  color: white;
  grid-column: 1;
  grid-row: 1;
  margin-top: 10px; 
  font-weight: 400 ;

  } 
  #kiipeilyloki_hederi > h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800 ;
    font-size: 70px;
    line-height: 70px;
    } 
  #output li {
    vertical-align: text-bottom;
  }


.aKohde,
.aKuvaus,
.aArvio {
  list-style: none;
}

.aLista {
  display: none;
}

.aKohde {
  cursor: pointer;
  font-size: x-large;
}

.aKuvaus,
.aArvio {

  font-family: 'Crimson Text', serif;
  font-weight: 400 ;
  font-size: 26px;
}
