html, body {
  height: 100%;
  margin: 0;
}
body {
  margin: 0;
  font-family: 'Crimson Text', serif;
  font-weight: 400;
  padding: 0;
  width: 100%;
  background-color: #f2f2f2;
}
h1 {
  font-size: 42px;
  line-height: 55px;
  margin-left: 80px;
}
#wrapper{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(7, fr);
  grid-gap: 10px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}
#uusikohde {
  padding: 30px;
  margin-left: 50%;
  margin-top: 20px;
  grid-column: 2 / span 5; 
  grid-row: 1;
  color: black;
  font-family:'Nunito Sans', sans-serif;
  font-weight: 400;
}
#uusikohde > h2 {
  font-weight: 200;
  color: white;
}
#uusikohde > input {
padding: 10px;
border:  2px solid white (0, 0, 0, 0.2);
border-radius: 5px;
background-color: white;
} 
#uusikohde > button {
padding: 10px;
border: 2px solid black;
border-radius: 5px;
background-color:black;
color:white;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
margin-top: 20px;
}
a {
  color: #00B7FF;
}
#poista{
  background-color: #00B7FF;
  grid-row: 2;
}
#arvioidut {
  grid-row: 2 / span 3;
  grid-column: 3 / spans 2;
  padding: 30px;
  border-left: black;
}
#toivelista{
  grid-row: 2 / span 3;
  grid-column: 1 /span 2;
  padding: 30px;
  border-right: black 1px solid;
}
#arvioilomake {
  grid-row: 6 ;
  grid-column: 1 / span 4;
  padding: 50px;
  background-color:white;
  color: black;
  font-family:'Nunito Sans', sans-serif;
  font-weight: 400;
}
#arvioilomake h2{
  font-family: 'Crimson Text', serif;
  margin-left: 35px;
  font-size: 28px;
  text-decoration: underline;
  letter-spacing: 5;
  font-weight: 400;
}
#arvioilomake_labels {
float: left;
height: 100px;
line-height: 28px;
font-weight: bold;
}
#arvioilomake_inputs {
  margin-left: 100px;
  width: 200px;
}
#arvioi_wrapper{
  display: flex;
  padding: 40px;
}
#arvioilomake_input, input {
  padding: 5px;
  border: 2px solid white;
  background-color:#e6e6e6;
  border-radius: 5px;
   min-width: 300px;
  width: 200px; 
} 
#etsi {
  min-width: 100px;
  height: 30px;
  padding: 5px;
  color: blue;
  border-style: none;
  background-color: white;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: px;
  margin-left: 120px;
}
#arvioilomake_inputs > button {
  min-width: 100px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
  background-color:black;
  color:white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
  margin-top: 20px;
  width: 157px;
}
#toivelista{
  grid-row: 2 / span 3;
  grid-column: 1 /span 2;
  padding: 30px;
}
#toivelista li {
  list-style: none;
  line-height: 32px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2;
  font-family:'Nunito Sans', sans-serif;
}
#toivelista h2 {
  margin-left: 35px;
  font-size: 28px;
  text-decoration: underline;
  letter-spacing: 5;
  font-weight: 400;
}
#arvioidut h2 {
  margin-left: 35px;
  font-size: 28px;
  text-decoration: underline;
  letter-spacing: 5;
  font-weight: 400;
}
#arvioidut ul {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2;
  font-family:'Nunito Sans', sans-serif;
}

#kiipeilyLoki {
  background-image: url("../images/hunkOverhang.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  color: white;
  grid-row: 1;
  width: 100%;
  grid-column: 1 / span 4;
  }
 #kiipeilyloki_hederi{
  color: white;
  grid-column: 1 / span 2;
  grid-row: 1;
  margin-top: 50px; 
  font-family: 'Crimson Text', serif;
  font-weight: 400 ;
  font-size: 75px;
  } 
  #kiipeilyloki_hederi > h1{
    font-family: 'Crimson Text', serif;
    font-weight: 400 ;
        font-size: 70px;
      } 


.aKohde,
.aKuvaus,
.aArvio {
  list-style: none;
}

.aLista {
  display: none;
}

.aKohde {
  cursor: pointer;
  font-size: x-large;
}

.aKuvaus,
.aArvio {

  font-family: 'Crimson Text', serif;
  font-weight: 400 ;
  font-size: 26px;
}
